@charset "utf-8";

/*
    Cerritos College
    CIS162-34127-LEC
    CSS for my about me pages
    Author: James Thang
    Date: 11/16/2025
    Filename: main.css
    
*/

/* HTML and Body Styles */

html {
    background-color: dodgerblue;
    height: 100%; /* Essential for covering top to bottom */
}

body {
    background-color: #f5f7fa;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 15% 0;    /* Top 0, left/right 15%, bottom 0 */
    padding: 1% 3% 0;   /* Top 1%, left/right 3%, bottom 0 */
    min-height: 100%;   /* Essential for covering top to bottom */
}

/* Things in general */

header, h1, h2, p {
    margin-top: 0; /* Appears with no spaces above */
}

/* Heading Styles */

h1, h2 {
    color: #2c3e50;
}

/* Navigation Styles */

nav > ul {
    list-style-type: none;
    border-bottom: 2px solid #e1e4e8;
    overflow: hidden;
    background-color: #ffffff;
}

ul > li {
    float: left;
    padding: 1%;
}

nav > ul > li > a:link,
nav > ul > li > a:visited {
    color: #3498db;
    text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
    color: #2980b9;
    text-decoration: underline;
}

/* column styles */

section#leftColumn {
    clear: left;
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

section#rightColumn {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Footer Styles */

footer {
    clear: left;
    padding: 2% 0; /* Top 2%, bottom 0 */
    margin-top: auto;
    text-align: center;
    background-color: #f0f0f0;
}
