<!DOCTYPE html>
<html lang="en">

<head>
    <!--
    Cerritos College
    CIS162-34127-LEC
    Simple html page about me
    Author: James Thang
    Date: 11/16/2025
    Filename: about.html
    -->
    <meta charset="utf-8">
    <meta name="keywords" content="About me, James Thang">
    <title>About</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <h1>James Thang</h1>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="school.html">School</a></li>
            </ul>
        </nav>
    </header>

    <section id="leftColumn">
        <h1>Education Goals</h1>

        <ol>
            <li>Become an aerospace engineer</li>
            <li>Start an aerospace club at my high school before the end of this year</li>
            <li>Volunteer for at least 5 events every month</li>
        </ol>
    </section>

    <section id="rightColumn">
        <h1>Skills</h1>

        <ol>
            <li>Problem-solving</li>
            <li>Leadership</li>
            <li>Commitment</li>
        </ol>
    </section>
    
    <footer>Last updated on Nov. 16th <br><a href="mailto:fake.email@company.com">Email me</a> </footer>
</body>
</html>
